[


 %% TODO:
 %% Provide a cast/call option to each {amqp,...} item ?
 {leporidae,
    [
        % How quickly should leporidae reconnect a disconnected
        % consumer/producer ?
        {reconnect_attempt_interval, 100},

        % Maybe we can use GLOBAL(conn,queue,ex) so that we have less repitition
        % in the app/sys.config
        % {global_connection,[
        %     {type, network},
        %     {username, <<"root">>},
        %     {passwd, <<"root">>},
        %     {vhost, <<"/">>},
        %     {host, "localhost"},
        %     {port, 5672}
        % ]},
        %{global_queuem,}
        %{global_exchange,}

        % Leporidae Producers
        % Here we have a list of producer specs used when lep_prod_sup starts.
        % each producer is spawned as it's own gen_statem (lep_produce_sm).
        {producers,[

            % Producer Example 1 - leporidae queue producer.
            %             persistant messages.
            {amqp, [
                {routing_key, <<"xxx">>},
                {basic, [
                    {delivery_mode, 2} % non­persistent (1) or persistent (2)
                ]},
                % TODO: change to use global_connection
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "localhost"},
                    {port, 5672}
                ]},
                {exchange,[
                    {exchange, <<"exchange1">>},
                    {type, <<"direct">>},
                    {durable, true}
                ]},
                {queue, [
                    {ticket, 0},
                    {queue, <<"leporidae">>},
                    {passive, false},
                    {durable, true},
                    {exclusive, false},
                    {auto_delete, false},
                    {nowait, false},
                    {arguments, []}
                ]}
            ]},

            % Producer Example 2 - Minimal setup
            %                      Queue1 bound to default ("") exchange
            {amqp, [
                % TODO: change to use global_connection
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "localhost"},
                    {port, 5672}
                ]},
                {queue, [
                    {queue, <<"queue1">>},
                    {durable, true}
                ]}
            ]},

            % Producer Example 3 - Minimal setup
            %                      Queue1 bound to default ("") exchange
            %                      with different routing key
            {amqp, [
                % TODO: change to use global_connection
                {routing_key, <<"yyy">>},
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "localhost"},
                    {port, 5672}
                ]},
                {queue, [
                    {queue, <<"queue1">>},
                    {durable, true}
                ]}
            ]}

        ]},

        % Leporidae Consumers
        % Here we have a list of consumers specs used when lep_cons_sup starts.
        % each consumers is spawned as it's own gen_statem (lep_consume_sm).
        %
        % Consumers have 3 types :
        % {consume_type, consume} |
        % {consume_type, get} |
        % {consume_type, subscription}
        {consumers, [
            %% TODO:
            % - Be able to create multiple consumers in the 1 consume process.
            % - start consuming when starting up

            % Consume Example 1 - Creates a consumer, and keeps consuming
            %                     messages from the leporidae queue
            %                     bound to exchange "exchange1"
            {amqp, [
                {consume_type, consume},
                {routing_key, <<"xxx">>},
                {consume, [
                    {no_ack, false},
                    {exclusive, false},
                    {nowait, false},
                    {arguments, []}
                ]},
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "localhost"},
                    {port, 5672}
                ]},
                {exchange,[
                    {exchange, <<"exchange1">>},
                    {type, <<"direct">>},
                    {durable, true}
                ]},
                {queue, [
                    {ticket, 0},
                    {queue, <<"leporidae">>},
                    {passive, false},
                    {durable, true},
                    {exclusive, false},
                    {auto_delete, false},
                    {nowait, false},
                    {arguments, []}
                ]}
            ]},

            % Consume Example 2 - Fetch ( Basic.Get )
            %                     queue1
            {amqp, [
                {consume_type, get},
                {routing_key, <<"xxx">>},
                {get, [
                    {no_ack, false}
                ]},
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "localhost"},
                    {port, 5672}
                ]},
                {queue, [
                    {queue, <<"queue1">>}
                ]}
            ]},

            % Consume Example 3 - Let a subscription forward mesages.
            %                     use the same details as producer-examepl-3
            {amqp, [
                {consume_type, subscription},
                {routing_key, <<"yyy">>},
                {get, [
                    {no_ack, false}
                ]},
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "localhost"},
                    {port, 5672}
                ]},
                {queue, [
                    {queue, <<"queue1">>}
                ]}
            ]}
        ]}
    ]
 },

 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].