[

 {leporidae,
    [
        {producers,[
            {amqp, [ %% Localhost
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "127.0.0.1"},
                    {port, 5672}
                ]},
                {queue, [
                    {ticket, 0},
                    {queue, <<"leporidae">>},
                    {passive, false},
                    {durable, true},
                    {exclusive, false},
                    {auto_delete, false},
                    {nowait, false},
                    {arguments, []}
                ]}
            ]},

            %% Pi1
            {amqp, [ %% Localhost
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "192.168.2.3"},
                    {port, 5672}
                ]},
                {queue, [
                    {ticket, 0},
                    {queue, <<"leporidae1">>},
                    {passive, false},
                    {durable, true},
                    {exclusive, false},
                    {auto_delete, false},
                    {nowait, false},
                    {arguments, []}
                ]}
            ]},

            %% Pi2
            {amqp, [ %% Localhost
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "192.168.2.5"},
                    {port, 5672}
                ]},
                {queue, [
                    {ticket, 0},
                    {queue, <<"leporidae2">>},
                    {passive, false},
                    {durable, true},
                    {exclusive, false},
                    {auto_delete, false},
                    {nowait, false},
                    {arguments, []}
                ]}
            ]},

            %% Pi3
            {amqp, [ %% Localhost
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "192.168.2.4"},
                    {port, 5672}
                ]},
                {queue, [
                    {ticket, 0},
                    {queue, <<"leporidae3">>},
                    {passive, false},
                    {durable, true},
                    {exclusive, false},
                    {auto_delete, false},
                    {nowait, false},
                    {arguments, []}
                ]}
            ]},

            %% Pi4
            {amqp, [ %% Localhost
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "192.168.2.2"},
                    {port, 5672}
                ]},
                {queue, [
                    {ticket, 0},
                    {queue, <<"leporidae4">>},
                    {passive, false},
                    {durable, true},
                    {exclusive, false},
                    {auto_delete, false},
                    {nowait, false},
                    {arguments, []}
                ]}
            ]}

        ]},
        {consumers,[

            %% Localhost
            {amqp, [
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "127.0.0.1"},
                    {port, 5672}
                ]},
                {queue, [
                    {ticket, 0},
                    {queue, <<"leporidae">>},
                    {passive, false},
                    {durable, true},
                    {exclusive, false},
                    {auto_delete, false},
                    {nowait, false},
                    {arguments, []}
                ]}
            ]},

            %% pi1
            {amqp, [
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "192.168.2.3"},
                    {port, 5672}
                ]},
                {queue, [
                    {ticket, 0},
                    {queue, <<"leporidae1">>},
                    {passive, false},
                    {durable, true},
                    {exclusive, false},
                    {auto_delete, false},
                    {nowait, false},
                    {arguments, []}
                ]}
            ]},

            %% pi2
            {amqp, [
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "192.168.2.5"},
                    {port, 5672}
                ]},
                {queue, [
                    {ticket, 0},
                    {queue, <<"leporidae2">>},
                    {passive, false},
                    {durable, true},
                    {exclusive, false},
                    {auto_delete, false},
                    {nowait, false},
                    {arguments, []}
                ]}
            ]},

            %% pi3
            {amqp, [
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "192.168.2.4"},
                    {port, 5672}
                ]},
                {queue, [
                    {ticket, 0},
                    {queue, <<"leporidae3">>},
                    {passive, false},
                    {durable, true},
                    {exclusive, false},
                    {auto_delete, false},
                    {nowait, false},
                    {arguments, []}
                ]}
            ]},

            %% pi4
            {amqp, [
                {connection, [
                    {type, network},
                    {username, <<"root">>},
                    {passwd, <<"root">>},
                    {vhost, <<"/">>},
                    {host, "192.168.2.2"},
                    {port, 5672}
                ]},
                {queue, [
                    {ticket, 0},
                    {queue, <<"leporidae4">>},
                    {passive, false},
                    {durable, true},
                    {exclusive, false},
                    {auto_delete, false},
                    {nowait, false},
                    {arguments, []}
                ]}
            ]}

        ]}
    ]
 },

 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

